.logon-container {
    height: 350px;
    width: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

 .logon-container section.form {
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}


.logon-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
} 
 input {
   margin-bottom: 10px;
 }
